
<form name="searchForm" [formGroup]="formModel" (ngSubmit)="onSearch()"  role="form" novalidate>
  <div class="form-group" [class.has-error]="formModel.hasError('minlength', 'title')">
    <label for="productTitle">Product title:</label>
    <input type="text" id="productTitle"
           placeholder="Title" class="form-control" minlength="3" formControlName="title">
    <span class="help-block" [class.hidden]="!formModel.hasError('minlength', title)">Type at least 3 characters</span>
  </div>

  <div class="form-group" [class.has-error]="formModel.hasError('positivenumber','price')">
    <label for="price">Product price:</label>
    <input id="price"
           name="productPrice"
           formControlName="price"
           type="number" min="0" step="any"
           placeholder="Price" class="form-control">
    <span class="help-block" [class.hidden]="!formModel.hasError('positivenumber','price')">
      Price is not a positive number
    </span>
  </div>

  <div class="form-group">
    <label for="category">Product category:</label>
    <select id="category" class="form-control" formControlName="category">
      <option value="-1">All categories</option>
      <option *ngFor="let category of categories" [value]="category">{{category}}</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">Search</button>
  </div>
</form>
